In [1]:
'hello'

'hello'

In [2]:
"hello"

'hello'

In [3]:
print("hello world 1")
print("hello world 2")

hello world 1
hello world 2

In [4]:
print("hello world 1")
print("hello world \n 2")

hello world 1
hello world
 2

In [5]:
len("I am hungry")

11

In [6]:
mystring = "Hello World"

In [7]:
mystring

'Hello World'

In [8]:
mystring[0]

'H'

In [9]:
mystring[8]

'r'

In [10]:
 mystring[-1]

'd'

In [11]:
 mystring = 'abcdefghijk'

In [12]:
mystring

'abcdefghijk'

In [15]:
mystring[:3]

'abc'

In [16]:
mystring

'abcdefghijk'

In [17]:
mystring[3:6]

'def'

In [19]:
mystring[1:3]

'bc'

In [20]:
mystring[::2]

'acegik'

mystring[::2] this allows to print back every 2 letters (step size)

mystring[start:stop:2]

In [21]:
mystring[::-1]

'kjihgfedcba'

mystring[::-1] this will print the string backwards

In [22]:
print("hello world")

hello world

In [25]:
"Hello World" [8]

'r'

In [26]:
"thinker" [2:5]

'ink'

In [27]:
name = "sam"

In [28]:
name

'sam'

In [29]:
name [1:]

'am'

In [30]:
# to change the "S" in sam to "P" we will use concatinate

In [31]:
#we will assign last letters and add it together after

In [32]:
name [1:]

'am'

In [33]:
last_letters = name [1:]

In [34]:
last_letters

'am'

In [35]:
"P" + last_letters

'Pam'

In [38]:
x = 'Hello World'

In [39]:
x

'Hello World'

In [40]:
x.

SyntaxError: invalid syntax (<ipython-input-40-a2885923daf8>, line 1)

In [41]:
x.upper

In [42]:
x

'Hello World'

In [43]:
x.upper()

'HELLO WORLD'

In [44]:
x.lower()

'hello world'

In [45]:
x.split()

['Hello', 'World']

In [46]:
x = "Hi this is a string"

In [47]:
x

'Hi this is a string'

In [49]:
x.split('i')

['H', ' th', 's ', 's a str', 'ng']

In [51]:
print("This is a string {}".format('INSERTED'))

This is a string INSERTED

In [54]:
print("The {2} {1} {0}" . format("fox", "brown", "quick"))

The quick brown fox

In [55]:
print("The {q} {b} {f}" .format(f = "fox", b = "brown", q = "quick"))

The quick brown fox

In [56]:
result = 100/777

In [57]:
result

0.1287001287001287

In [69]:
print("The result was {r:1.3f}" .format (r = result))

The result was 0.129

In [61]:
#Float formatting follows "{value:width.precision f}"

In [70]:
name = "Jose"

In [74]:
print(f"Hello, his name is {name}")

Hello, his name is Jose

In [75]:
name = "Sam"
age = 3

In [77]:
print(f"{name} is {age} years old")

Sam is 3 years old

In [78]:
my_list = [1,2,3]

In [79]:
len(my_list)

3

In [80]:
my_list

[1, 2, 3]

In [81]:
my_list[0]

1

In [82]:
my_list

[1, 2, 3]

In [83]:
another_list = [4,5]

In [86]:
x = my_list + another_list

In [87]:
x

[1, 2, 3, 4, 5]

In [88]:
x[0] = "one"

In [89]:
x

['one', 2, 3, 4, 5]

In [90]:
x.append("six")

In [91]:
x

['one', 2, 3, 4, 5, 'six']

In [92]:
x.append(7)

In [93]:
x

['one', 2, 3, 4, 5, 'six', 7]

In [97]:
x.pop()

5

In [98]:
x

['one', 2, 3, 4]

In [99]:
popped_item = x

In [100]:
popped_item

['one', 2, 3, 4]

In [101]:
popped_item = x.pop()

In [102]:
x

['one', 2, 3]

In [103]:
popped_item

4

In [104]:
x.pop(0)

'one'

In [105]:
x

[2, 3]

In [106]:
x[0] = "1"

In [107]:
x

['1', 3]

In [108]:
x = [1,2,3,4,5,6]

In [109]:
x

[1, 2, 3, 4, 5, 6]

In [3]:
x = [ "b", "a", "c", "e", "d"]
y = [ 4,1,3,2]

In [111]:
x.sort()

In [4]:
x

['b', 'a', 'c', 'e', 'd']

In [113]:
y.sort()

In [114]:
y

[1, 2, 3, 4]

In [115]:
q = x

In [116]:
q

['a', 'b', 'c', 'd', 'e']

In [117]:
x

['a', 'b', 'c', 'd', 'e']

In [118]:
x.reverse()

In [1]:
x

NameError: name 'x' is not defined

In [2]:
x

NameError: name 'x' is not defined

In [5]:
my_dict = {"key1":"value1","key2":"value2"}

In [6]:
my_dict

{'key1': 'value1', 'key2': 'value2'}

In [7]:
my_dict["key1"]

'value1'

In [8]:
prices_lookup = {"apple":2.99, "oranges":1.99,"milk":5.80}

In [9]:
prices_lookup["apple"]

2.99

In [10]:
d = {"key1":["a","b","c"]}

In [11]:
d

{'key1': ['a', 'b', 'c']}

In [12]:
key1

NameError: name 'key1' is not defined

In [13]:
d[key1]

NameError: name 'key1' is not defined

In [14]:
d["key1"]

['a', 'b', 'c']

In [24]:
 my_list = d["key1"]

In [25]:
my_list

['a', 'b', 'c']

In [26]:
letter = my_list[2]

In [27]:
letter

'c'

In [29]:
letter.upper()

'C'

In [31]:
d["key1"][2].upper()

'C'

In [32]:
d ={"k1":100,"k2":200}

In [33]:
d

{'k1': 100, 'k2': 200}

In [34]:
d["k3"] = 300

In [35]:
d

{'k1': 100, 'k2': 200, 'k3': 300}

In [36]:
d.keys()

dict_keys(['k1', 'k2', 'k3'])

In [38]:
d.values()

dict_values([100, 200, 300])

In [39]:
d.items()

dict_items([('k1', 100), ('k2', 200), ('k3', 300)])

In [41]:
#tuples are immutable (not able to be changed [like a final ])

In [42]:
#tuple are basiacally list but immutable
#also uses () instead of []
tuple = (1,2,3,4)

In [43]:
tuple

(1, 2, 3, 4)

In [44]:
#sets are list are list but only special ordered pair (non repeating number will be deleted)

In [45]:
myset = set()

In [47]:
myset

set()

In [49]:
myset.add(1)

In [50]:
myset

{1}

In [51]:
myset.add(2)

In [52]:
myset

{1, 2}

In [53]:
myset.add(2)

In [54]:
myset

{1, 2}

In [55]:
#example above shows that it has to be unique sets (does not repeat values)

In [56]:
mlist = [1,1,1,1,1,1,2,2,2,2,2,2,2,3,3,3,3,]

In [57]:
mlist

[1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 3, 3, 3, 3]

In [58]:
set(mlist)

{1, 2, 3}

In [59]:
#sets do not have an order

In [61]:
myset = set()
string = "Parallel"
set(string)

{'P', 'a', 'e', 'l', 'r'}